@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Health Care Access Ltd</h2>
@*<h3>@ViewBag.Message</h3>*@
<img src="~/Content/images/HomeHealth.jpg" />
<p>Healthcare Access Ltd provides highly personalised care to cater for all our customer’s needs.</p>
<p />We use personalised centred approach to ensure that the care we provide is tailored to meet our customer’s needs to enable them remain independently within their own home safely and with dignity . We also ensure that they are given choice and control over how and when the support is provided.
<p />Having physical, learning disabilities or mental health should not prevent you from taking full advantage of everything life has to offer. Our care workers provide support at home which enables you to live independently and have an active life inside and outside of your home. Our services are flexible and can adapt to suit your needs from the occasional one-hour, regular daily visits to live in or waking nights.
<p />  We offer live in service for people who require high levels of support but do not want to sacrifice their independence or leave the home they love and know. Our live-in care workers are all trained to provide quality support across array of practical activities from personal care, meal preparation, shopping, taking you out and running errands through to managing correspondence. They are also given extra training to accommodate your particular health needs. We understand that having a stranger in your home is a big step, so we make sure we take time to find a care worker who is best suited to your needs and lifestyle and one you can build a real relationship with.
<p />Healthcare Access Ltd senior staff will conduct face to face assessments to understand all your requirements and this enables the inclusion of preferred activities, dietary requirements, family commitments and everything else you might need support with.

<p />We offer 24 hours telephone helpline to provide peace of mind in the event of any emergencies. A senior member of staff will be at hand and available to assist and answer any queries.
<p />Our care staff receive training to a high standard and are fully vetted with current DBS and references in line with CQC guidelines.
<p />As a service care provider, we have a duty to safeguard our customers by protecting their health, wellbeing and human rights and enabling them to live free from harm, abuse or neglect which is fundamental to creating a high-quality home care service.

<h2>Our History</h2>
<p />With over 20 years of experience working within Health and Social Care setting, we believe we can use our knowledge and expertise in delivering the most appropriate service to meet our customer’s needs.

<h2>Our Mission</h2>
<p />Our mission is to provide flexible, community-based care and support that promotes independence, choice and dignity. We recognise that everyone is different and that over time,
their needs can change hence we regularly review and adapt our care support services so that the support provided is always meeting the needs and aspirations of our customers.

<h2>Our Approach</h2>
<p />Healthcare Access Ltd approach to care at home includes valuing the individuality of each person by taking their needs, preferences and strength into account and creating opportunities for them to make informed choices about the care and support they need.
<p />We believe that a person centred approach to the service offered is fundamental to ensuring that our customers receive the best and most appropriate support matching their needs and aspirations. By listening to our customers, we learn what is important to each of them and this helps create care and support plans that reflects what is required and what works best for each customer as a unique individual.
We also involve their families, friends, advocates and health and social care professionals to ensure a
 holistic approach. Contact us for more info&raquo;
