@{
    ViewBag.Title = "Home";
}
<p />
<p />
<p />
<p />
<p />
@*<div class="jumbotron">

        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
        </p>
    </div>*@
<img src="~/Content/images/health_care.jpg" />
@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>


    </div>*@

<p />Healthcare Access Ltd is a service provider registered by Care Quality Commission (CQC) to provide Domiciliary Care which is highly personalised to cater for all our Customers care needs.
<p />We use personalised centred approach to ensure that the care we provide is tailored to meet our customer’s needs to enable them remain independently within their own home safely and with dignity . We also ensure that they are given choice and control over how and when the support is provided.
<p />Having physical, learning disabilities or mental health should not prevent you from taking full advantage of everything life has to offer. Our care workers provide support at home which enables you to live independently and have an active life inside and outside of your home. Our services are flexible and can adapt to suit your needs from the occasional one-hour, regular daily visits to live in or waking nights.
<p />We offer live in service for people who require high levels of support but do not want to sacrifice their independence or leave the home they love and know. Our live-in care workers are all trained to provide quality support across array of practical activities from personal care, meal preparation, shopping, taking you out and running errands through to managing correspondence. They are also given extra training to accommodate your particular health needs. We understand that having a stranger in your home is a big step, so we make sure we take time to find a care worker who is best suited to your needs and lifestyle and one you can build a real relationship with....Read more &raquo;
