
@{
    ViewBag.Title = "Companionship care";

}
<h2>
    What is @ViewBag.Title
</h2>
<img src="~/Content/images/domiciliary-care-2.jpg" />
<br /><br />

<div class="row">
    <p />Companionship care is a perfect solution for anyone who doesn’t necessarily need care, but would benefit from regular visits
    from a friendly face who has a genuine interest in their wellbeing. With the support of companionship and home help services,
    you and your loved ones will be able to continue doing the things you love, with a caring companion by
    your side.
    <div class="col-lg-5" style="background-color: blanchedalmond">
        <h3>What support does companionship care provide?</h3>
        <p />Companionship care doesn’t include aspects of personal care such as bathing, dressing, continence care or medication,
        it’s designed to give you regular company, help around the home, and support to explore new
        opportunities.
        <br /><br />
        </div>
        <div class="col-lg-5" style="background-color:lightblue">
        <h3>Companionship care is more than just occasional company</h3>
         <p />Companionship care is combatting loneliness and isolation with regular company and engaging companionship. According to Age UK,
        almost a million older people can often go for more than a month without speaking to anyone at all and we wholeheartedly share their assertion that no-one should have no-one.
    </div>
  </div>
<div class="row">
    <br />
    <div class="col-lg-5" style="background-color:azure">
        <p />Whether you need someone to drive and accompany you to appointments, or you’d like someone to help you attend hobbies and activities,
        or even explore new opportunities in your local community, companionship care assistants can help you live the life you know and love.


        <p />Companionship care also includes ‘home help’ services to support with domestic tasks such as:

        <ul>
            <li>Meal preparation</li>
            <li>Laundry</li>
            <li>Ironing</li>
            <li>Cleaning</li>
            <li>Caring for pets</li>
            <li>Errands such as shopping, collecting prescriptions and arranging appointments</li>
        </ul>
    </div>
    <div class="col-lg-5" style="background-color:lavender">
        <h3>Companionship and home help at Health care access Ltd</h3>
        <p />Whether you’d like regular company, transportation, help around the home, or even take up new hobbies –
        our Carers are committed to providing opportunities for you to explore and experience life to the full.

        <p />Our dedicated team of companionship care assistants are joined by their passion on enabling more people
        to access the life they know and love
        <br /><br /> <br /><br /> <br /><br /> 
    </div>
</div>