
@{
    ViewBag.Title = "Dominiciliary";
}

<h2>What is Domoniciliary care</h2>
<img src="~/Content/images/domiciliary-care-2.jpg" />
<p />
<p />Domiciliary care is provided to people who still live in their own homes but require additional support with activities, including household tasks, personal care and any other activity that allows them to maintain both their independence and quality of life.
<p />You may be starting to find it difficult to complete different areas of your routine and want some support whilst staying in familiar surroundings. Regular home visits from a fully trained care worker, from 30 minutes through to several hours a day, can be arranged to help you with a wide range of everyday tasks, including:
<ul>
    <li>Personal and continence care</li>
    <li>Managing medication</li>
    <li>Helping to mobilise in and around the home</li>
    <li>Household tasks and meal preparation</li>
    <li>Clinical care, including catheter and stoma management and PEG feeding</li>
</ul>
<p />Like live-in care, domiciliary care offers a valuable source of companionship. Seeing a familiar face every day,
or a couple of times a week, brings comfort, a feeling of safety and friendship – as with elderly care,
this form of social care also benefits mental health, as a care worker will be able to provide the much
needed companionship. Care assistants are not just trained in delivering the physical aspects of care,
 but also offering emotional support, encouragement and reassurance.
