
@{
    ViewBag.Title = "Home From Hospital";

}
<h2>@ViewBag.Title</h2>
<img src="~/Content/images/HomeHealth.jpg" />
<br /><br />

<p />Leaving hospital can be a daunting experience. Support with medication, dressings, recuperation or
rehabilitation will often require intensive support, with additional support required to supplement district
 nursing, or community health, teams.

<p />At Health access care, we tailor our home from hospital services to suit your
individual needs to ensure that you receive the right level of support, when you need it,
at any time of the day or night.

<h3>Arranging home from hospital care</h3>
<p />Prior to you, or a loved one, leaving hospital we will liaise closely with the hospital team, your GP and the community health teams to understand the level of care and support that
you will need and the level of financial support that may be available. Together, we’ll build a care
 programme that is tailored to your needs and provides you with continuing care and support as you recuperate.

<p />At every stage of your recovery we’ll help and support you as you regain your health, independence and 
confidence. Please <a href="~/Home/Contact">Contact us</a> to learn how we can support you and your loved one.