
@{
    ViewBag.Title = "Services";

}
<p />
<p />
<p />
<p />
<p />
<img src="~/Content/images/health_care.jpg" />

<h2>Our @ViewBag.Title </h2>
<p />Healthcare Access Ltd provide a full spectrum of Services which includes practical care, personal care and complex care.
<p />We support older adults, people with learning disabilities, physical health disabilities and people who have mental health
support needs by providing:
<ul>
    <li>Domiciliary Care</li>
    <li>Supported Living Service</li>
    <li>Live in Home Care</li>
    <li>Shopping, cleaning and laundry</li>
    <li>Home from hospital</li>
    <li>Companionship</li>
</ul>

<p />If you would like to discuss your care needs or have any questions regarding the service we provide,
please contact us &raquo;