
@{
    ViewBag.Title = "Live in care";

}

<h2>@ViewBag.Title</h2>
<img src="~/Content/images/health_care.jpg" /><br /><br />

<p />A positive and low cost alternative to a care home, live-in care gives you the personal, household and
 social support you need, either on a temporary or permanent basis.
<p />This service gives you the security and peace of mind to continue living the life you choose in the
comfort of your own home, with someone always on hand to give you the help and support you need.

<h3>Our Approach</h3>
<p />Live-in care involves a carer or nurse coming to live at your home for days or weeks at a time to be close at hand for all your needs. We will give you an individually tailored care plan that reflects your daily routines, activities and care needs.
<p />There may be many reasons why you are looking for a live-in for yourself or a relative or a friend. Maybe a little support is needed with those tasks that are becoming more difficult, or because of restricted mobility through an accident or illness or you simply need some companionship. We know that often this can be an emotional and difficult time and so whether you are looking for respite or long-term live-in care Prestige Nursing are here to help you.
<p />Please <a href="~/Home/Contact">contact us</a> to learn how we can support you or your loved one.



