
@{
    ViewBag.Title = "Personal care";

}
<h2>What is personal care?</h2>
<img src="~/Content/images/HomeHealth.jpg" />
<br /><br />

<div class="row">
    <div class="col-md-6" style="background-color:azure">
        <p/><strong>Personal care</strong> is a broad term used to refer to supporting with personal hygiene and toileting, along
        with dressing and maintaining your personal appearance.
        <p/>It can cover, but is not limited to:
        <ul>
            <li>Bathing and showering, including bed-baths</li>
            <li>Applying lotions and creams as required</li>
            <li>Dressing and getting ready for bed</li>
            <li>Oral hygiene</li>
            <li>Applying make-up, and hair care</li>
            <li>Support with shaving</li>
            <li>Foot care, especially if you are diabetic need to be extra vigilant with your feet</li>
            <li>Helping you to the toilet, including using a commode or bed pan</li>
            <li>Changing continence pads, along with cleaning intimate areas</li>
            <li>Support moving position in bed, to stretch and prevent bed sores</li>
            <li>Changing or maintaining a stoma or catheter bag, or other form of clinical intervention</li>
        </ul>

        <p/>In getting to know you as a person, your care plan will outline your likes and dislikes, the hygiene or beauty products you want to use and what – and who – you feel most comfortable with. Particular tasks, such as cutting nails, shaving and diabetic foot care, will always be outlined in your support plan with specific instructions for your carer.
        <p/>Each carer is expertly trained to provide personal care in a way that is discreet and respectful of your personal boundaries. They undertake extensive training where they learn the importance of enabling your dignity and independence at all times.
        <p/>Even though carers are trained to provide all aspects of personal care, there may be some things you’d prefer to do for yourself. A good carer will always give you space when you want it and encourage your independence wherever they can.

    </div>
    <div class="col-lg-5" style="background-color:lavender">
        <h2>The options for personal care</h2>
        <p />Like all forms of care, support with personal care is built completely around your individual needs and personal routines. If you like to wash before breakfast, or have a bath before going to bed, a carer will happily follow your schedule, letting you live the way you want.
        <p />With home care, you have the choice of having a visiting carer – someone who visits at set times of the day or even overnight – to provide the support you need. If you require ongoing support, it may be best to have a live-in carer, living at home with you.
        <p />Many carers support with other tasks in addition to personal care. In fact, they’re also trained to administer medication, help those with limited mobility to move safely around the home (especially using hoists and supports) and can prepare meals, complete household chores and even offer companionship, ongoing support and encouragement.
        <p />Please get in touch with our team to find out more about what a carer can support with.
        <br /><br /><br /><br /><br /><br /><br /><br />
        <br />
    </div>
</div>