
@{
    ViewBag.Title = "Supported Living";
}

<h2>@ViewBag.Title</h2>
<img src="~/Content/images/health_care.jpg" /><br /><br />

<p />Our supported living services provide innovative and person-centred support enabling people with autism, learning disabilities, mental health illnesses and challenging behaviours to live as 
independently as possible within their own homes and in the local community.

<p />The support provided is person-centred and specifically tailored to meet every unique need, underpinned by
 our philosophy that every individual has the right to live the life they choose for themselves.